# === ENTORNO ===
NODE_ENV=development
PROTOCOL=http
HOST=localhost
PORT=3000
API_PREFIX=api

# === BASE DE DATOS ===
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=database
DB_NAME=413_race
DB_NAME_TEST=
DB_NAME_PROD=

# === LOGS Y DEBUG ===
LOG_LEVEL=debug                         # niveles: error, warn, info, debug
        
# === CORS ===
CORS_ORIGIN=

# === APP CONFIG ===
APP_NAME=ddriss_quetgo
APP_VERSION=0.0.1

# === TOKENS ==== #
ACCESS_TOKEN_SECRET=mamamasivomamamasivomamamasivodadadariyanki
REFRESH_TOKEN_SECRET=dubidubidubadubidubidubaagentepe
ACCESS_TOKEN_EXPIRATION=1h
REFRESH_TOKEN_EXPIRATION=2h

MAIL_USER=c.constanza250@gmail.com
MAIL_PASS=fzch fpjm pifv kwyn

MAIL_WELCOME_HERO_URL = https://images.unsplash.com/photo-1502161254066-6c74afbf07aa?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2071
MAIL_QUOTATION_HERO_URL = https://images.unsplash.com/photo-1610880846497-7257b23f6138?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=3121
ASSET_BASE_URL = https://api.413-race.store